<html>

<head>
<title>
</title>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="/css/home.css">    <!-- including our css file  -->
</head>

<body>
  <h1 id="heading">TODO App</h1>   
  <hr> 
   <div id="upper">
    <form action="" method="POST">
  
     <table id="tab" width="100%"> 
       <tr colspan="2"><td>
    <label id="d">&nbsp &nbsp DESCRIPTION</label> <br>
    <input type="text" placeholder="What do you need to do?" id="desc"> </input>
       </td></tr> 
        <hr> 
       <tr><td> 
    <label id="c">&nbsp &nbsp CATEGORY </label> <br> <br> 
    <select name="category" id="cat">
      <option> Choose a category </option> 
      <option value="personal">Personal</option>
      <option value="work">Work</option>
      <option value="school">School</option>
      <option value="cleaning">Cleaning</option>
      <option value="other">Other</option>
    </select>
  </td>

  </table>
    </form>
   </div>

</body>
</html>  

